
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
nav {
  background-color: #333;
  padding: 10px 0;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
}

section {
  padding: 5rem 9%;
}
.packages .box-container .box .image {
  height: 25;
  overflow: hidden;
  padding: 2;
  padding-bottom: 0;
  border-radius: .5;
}

.packages .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .5;
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid black;
  color: black;
  cursor: pointer;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}

.btn:hover {
  background:rgba(223, 200, 170, 0.982);
  color: rgb(17, 3, 3);
}

.packages {
  background: #eee;
}

.packages .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.packages .box-container .box {
  text-align: center;
  background: #fff;
  border: 0.2rem solid #10221b;
  border-radius: 0.5rem;
  padding: 2rem;
  transition: 0.2s linear; /* added transition effect */
}

.packages .box-container .box:hover {
  background:#ff6600c0;
  color: #eeb2b2;
}

.packages .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  padding: 2rem;
  padding-bottom: 0;
  border-radius: 0.5rem;
}

.packages .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.packages .box-container .box .content {
  padding: 2rem;
}

.packages .box-container .box .content h3 {
  font-size: 2rem;
  color: #10221b;
  text-transform:uppercase;
}

.packages .box-container .box .content p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
}

.packages .box-container .box .content .price {
  font-size: 2rem;
  color: #219150;
}